// Specific CSS for your home-page
h2 {
  margin: 20px;
}

.browse {
  margin-top: 10px;
}

.about {
  margin: 30px 20px;
  display: flex;
  justify-content: space-around;
}

.detail {
  text-align: center;
  background-color: white;
  margin: 20px;
  width: 280px;
  height: 250px;
  i {
  font-size: 40px;
};
  p {
  margin: 30px;
};
}


