.box {
  display: flex;
}

.booking {
  margin-top: 20px;
}

.resto-thumbnail {
  height: 150px;
  width: 150px;
}

.booking-container {
  display: flex;
  align-items: center;
  border: 1px solid rgba(220,224,244,0.4);
  background-color: white;
  margin-bottom: 10px;
  justify-content: space-between;
  box-shadow:0 0px 3px rgba(0, 0, 0, 0.1);
}
.booking:last-child {
  border-bottom: none;
}
.booking-body {
  // flex-grow: 1;
  width:auto;
  height:auto;
  display: inline-block;
  border-radius: 10px;
  padding-left: 15px;
  p {
    margin-bottom: 4px;
  }
}

.photo-text {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 25px;
}

.inner-container {
  width: 50vw;

}



