<div class="container">
  <h3>Bookings</h3>
  <% @bookings.each do |b| %>

    <div class="booking-container">
      <div class="resto-thumbnail" style="background: url(<%= b.restaurant.photo %>) center / cover no-repeat;">
      </div>
      <div class="booking-body">
          <p>Restaurant: <%= b.restaurant.name %></p>
          <p>Location: <%= b.restaurant.location %></p>
          <p>Date: 7/12/2018 </p>
          <p>Hour: 8pm</p>
      </div>
      <%= link_to 'show', restaurant_path(b.restaurant) %>

    </div>
  <% end %>
</div>

<!--  -->
