<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 20%), url('<%= image_path 'banner.4.jpg', height: 200, width: 400 %>')">
  <div class="banner-content">
  <%= image_tag "Resto_logo.1.png", height: 150 %>
    <h1>Host a private party</h1>
    <p>Choose the right restaurant for your party theme!</p>
    <%= link_to "Browse all restaurants", restaurants_path, class: "browse btn btn-success" %>
  </div>
</div>
