<%= render 'shared/banner-landing' %>
<div class="container">
  <div class="about">
    <div class="row">
      <div class="detail col-xs-12 col-sm-6 col-md-4">
        <h3>Friends</h3>
        <i class="fas fa-user-friends"></i>
        <p>Gather friends for a special occasion</p>
      </div>
      <div class="detail col-xs-12 col-sm-6 col-md-4">
        <h3>Inspiration</h3>
        <i class="fas fa-lightbulb"></i>
        <p>Discover new places near you</p>
      </div>
      <div class="detail col-xs-12 col-sm-6 col-md-4">
        <h3>Variety</h3>
        <i class="fas fa-utensils"></i>
        <p>Choose the right place for your party</p>
      </div>
    </div>
  </div>
  <div class="popular-restaurants">
    <h2>Most popular restaurants</h2>
    <div class="row">
      <%= render @restaurants %>
    </div>
  </div>
</div>
