<%= render 'shared/banner-landing' %>
<div class="container">
  <div class="about">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="detail">
          <h3>Friends</h3>
          <i class="fas fa-user-friends"></i>
          <p>Gather friends for a special occasion</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="detail">
          <h3>Inspiration</h3>
          <i class="fas fa-lightbulb"></i>
          <p>Discover new places near you, and surprise your friends</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="detail">
          <h3>Variety</h3>
          <i class="fas fa-utensils color:success"></i>
          <p>Different cuisines and themes for your party</p>
        </div>
      </div>
    </div>
  </div>
  <div class="popular-restaurants">
    <h2>Most popular restaurants</h2>
    <div class="row">
      <%= render @restaurants %>
    </div>
  </div>
</div>
